*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #495057;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: #15aabf;
}

h1{
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#username{
    padding: 5px;
    border-radius: 3px;
    border: none;
}

#searchbtn{
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

#searchbtn:hover{
    background-color: #66d9e8;
}

img{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.user-card{
    padding: 18px;
    margin: 18px;
    background-color: #e3fafc;
    border-radius: 8px;
}

@media (max-width: 500px){
    .container{
        width: 90%;
        padding: 20px;
    }

    h1{
        font-size: 20px;
    }

    .user-card{
        margin: 10px;
        padding: 12px;
    }
}
